<nav id="navbar">
    <h3>API de productos</h3>
    <ul>
        <li><a href="/api/products">HOME</a></li>
        <li><a href="/api/carts">CARRITOS</a></li>
    </ul>
    <a href="/api/sessions/login">
        <p>Acceder</p>
    </a>
    <a href="/api/sessions/profile">
        <p>Perfil</p>
    </a>
    <a href="" id="logout">
        <p>Cerrar sesión</p>
    </a>
    <ul id="cond-render"><li>Renderizado condicional</li></ul>
</nav>

<script>src="/js/navbar.js"</script>